<h1>會員註冊</h1>

<!-- 常見的view helper:link_to, form_for,  -->
<!-- view helper 裡的form helper (也是方法的一種，只是在這裡叫helper) -->
<!-- <% %>是為了讓html檔案知道我們在這裡面寫的程式碼是ruby的語法=>erb的檔案 -->

<%= form_for(@user, url: '/account_verify') do |form| %>
  <div class="fields">
    <%= form.label :email, '信箱' %>
    <%= form.email_field :email  %>
  </div>

  <div class="fields">
    <%= form.label :username, '姓名' %>
    <%= form.text_field :username %>
  </div>

  <div class="fields">
    <%= form.label :password, '密碼' %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit '註冊' %>
  </div>
<% end %>


