<h1>新增課程</h1>

<% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@course) do |form| %>
  <div class="fields">
    <%= form.label :name, "姓名" %>
    <%= form.text_field :name  %>
  </div>

  <div class="fields">
    <%= form.label :price, "價格"  %>
    <%= form.number_field :price %>
  </div>

  <div class="fields">
    <%= form.label :intro, "課程介紹" %>
    <%= form.text_area :intro %>
  </div>

  <div class="fields">
    <%= form.label :hour, "時數" %>
    <%= form.number_field :hour %>
  </div>

  <div class="actions">
    <%= form.submit '送出' %>
  </div>

<% end %>